.define-me{
  position: relative;
  display: inline;
  background: #BFDFFF;
  padding: 2px 0 2px 4px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

.define-me:after{
  content: "?";
  color: #71a7cc;
  font-size: 80%;
  padding: 0 5px;
}

.tooltip{
  background: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  bottom: 30px;
  font-size: .8em;
  line-height: 1.4em;
  color: #fff;
  left: 20%;
  padding: 5px 10px;
  position: absolute;
  z-index: 98;
  width: 220px;
  cursor: pointer;
}

.tooltip p{
  margin: 0;
}

.tooltip:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: -5px;
    content: "";
    position: absolute;
    z-index: 99;
}

.hide {
  display: none;
}

.show{
  display: inline-block;  
}
